bin/*
!bin/alias.bat
!bin/ansi.bat
!bin/cmdize.bat
!bin/cmdpid.bat
!bin/exe2exe*
!bin/ftpd.bat
!bin/run-here.bat
!bin/unalias.bat
!bin/unpath.bat
!bin/which.bat
!bin/www.bat
!bin/README*

etc/zentea.enabled
etc/*.log
etc/distrib/
etc/misc/
!etc/**/README*

etc/clink/.history

etc/Far3/Default.farconfig
etc/Far3/Profile/Plugins/*
etc/Far3/Profile/PluginsData/*
etc/Far3/Profile/*.db*

etc/postinstall/GUI/

etc/TLB/
etc/wallpapers/

home/
!home/.bash_profile
!home/.bashrc
!home/.git-completion.bash
!home/.git-prompt.sh
!home/.gitconfig
!home/.inputrc
!home/.minttyrc
!home/.profile

GUI/

opt/
!opt/README*

var/

vendors/
!vendors/README*
!vendors/package_list.txt
