shellenv.cfg

bin/*
!bin/README*

etc/candy-for-tea.enabled
etc/*.log
etc/ConEmu/
etc/distrib/
etc/misc/
!etc/**/README*

etc/clink/.history

etc/Far3/Profile/Plugins/*
etc/Far3/Profile/PluginsData/*
etc/Far3/Profile/*.db*

GUI/

home/*
!home/.bash_profile
!home/.bashrc
!home/.git-completion.bash
!home/.git-prompt.sh
!home/.gitconfig
!home/.inputrc
!home/.profile

libexec/*
!libexec/README*
!libexec/identify.bat

opt/*
!opt/README*

var/

.vendors/
