
bin/*
!bin/alias.bat
!bin/exe2exe.bat
!bin/unalias.bat
!bin/which.bat
!bin/x.bat
!bin/README.md

etc/clink/.history

etc/Far3/Default.farconfig
etc/Far3/Profile/Plugins/*
etc/Far3/Profile/PluginsData/*
etc/Far3/Profile/*.db*

etc/postinstall/
!etc/postinstall/system/

etc/TLB/
etc/wallpapers/

FTP/
GUI/
WWW/

opt/
!opt/README.md

var/
!var/README.md

vendors/
!vendors/README.md
!vendors/package_list.txt
