[core]
	autocrlf = input
	eol = lf
	filemode = false
	pager = less -FR
[color]
	ui = true
[alias]
	amend = commit --amend
	uncommit = reset HEAD^
	undo = reset --soft HEAD^
	show-root = rev-parse --show-toplevel
	show-git = rev-parse --git-dir
	show-url = config --local remote.origin.url
[pager]
	branch = cat
	config = cat
	diff = less -R
	log = less -R
[bunch "priv"]
	path = /cygdrive/c/PROGS/var/git
[bunch "work"]
	path = /cygdrive/u/var/git
[bunch "temp"]
	path = /cygdrive/u/tmp/git
