[core]
	autocrlf = input
	eol = lf
	filemode = false
[color]
	ui = true
[alias]
	amend = commit --amend
	uncommit = reset HEAD^
	undo = reset --soft HEAD^
	show-root = rev-parse --show-toplevel
	show-git = rev-parse --git-dir
	show-url = config --local remote.origin.url
[pager]
	branch = cat
	diff = less -FR
